.env
.DS_Store
client_secrets.json
mlops/scripts/create_user_preferences/venv/
data/MillionSongSubset
data/MillionSongSubsetMetadata
../../../db/data/
mlops/scripts/create_user_preferences/token.json

